# Ignorar dependências do Composer
/vendor/

# Ignorar arquivos de configuração locais
.env

# Ignorar logs e cache
*.log
*.cache
*.tmp

# Ignorar configurações de IDEs
.vscode/
.idea/

# Ignorar arquivos do sistema operacional
.DS_Store
Thumbs.db
